
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>MyTime Page</title>

    <!-- スタイルシート -->    
    <link href="~/Views/Home/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Views/Home/css/jquery.timepicker.css" rel="stylesheet" />
    <link href="~/Views/Home/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Views/Home/css/mytime.css" rel="stylesheet" />
    <!-- ライブラリ -->
    <script src="~/Views/Home/scripts/jquery-3.1.1.js"></script>
    <script src="~/Views/Home/scripts/jquery-ui.js"></script>
    <script src="~/Views/Home/scripts/jquery.timepicker.js"></script>
    <script src="~/Views/Home/scripts/bootstrap.min.js"></script>
    <!-- サービスロジック -->
    <script src="~/Views/Home/scripts/mytime.shell.js"></script>
    <script>
            $(document).ready(function () {
                mytime.shell.initModule($('#mytime'));
            });
    </script>
</head>
<body>
    <div id="mytime"></div>
</body>
</html>
